@import "main";
@import "variables";

* {
  box-sizing: border-box;
}

#blog-article {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article-top {
  @extend .post-top;
  padding: 10px;
  border-bottom: 1px solid var(--text);
  width: 100%;
}

.article-parent {
  margin-top: 20px;
  width: 80%;
}

.article-body {
  padding: 10px;
}
