package title

templ Description() {
	<div id="main-description">
		<p>
			Journal of a deluded dev, with an unhealthy
			obsession for <b>SEO</b> and <b>SPEED</b> (the
			concept).
		</p>
		<div class="line"></div>
	</div>
}
