<!doctype html>
<html lang="en">
	<head>
		<title>HDEV</title>
		<meta
			content="Welcome to my dev blog. Here you will find the latest posts and updates on my work."
			name="description"
		/>
		<meta content="HalliS20" name="author" />
		<meta
			content="blog, posts, updates, dev, life, work, tech"
			name="keywords"
		/>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<style>
			{{.cssContent}}
		</style>
		<script>
			{{.jsFile}}
		</script>
	</head>
	<body>
		<div id="content">
			<div id="page">
				<div id="top-desc">
					<div id="page-top">
						<button id="title-button" data-href="/">
							<h1>HDEV</h1>
							<h2>journal</h2>
						</button>
					</div>
					<p id="main-description">
						Journal of a deluded dev, with an unhealthy obsession
						for <b>SEO</b> and <b>SPEED</b> (the concept).
					</p>
				</div>
				<div id="posts">
					{{range .posts}}

					<button data-href="/posts/{{.ID}}" class="post-button">
						<article class="post-article">
							<div class="post-top">
								<h3>{{.Title}}</h3>
								<p class="date">{{.Date}}</p>
							</div>
							<p>{{.Description}}</p>
						</article>
					</button>
					{{end}}
				</div>
			</div>
		</div>
	</body>
</html>
