<!doctype html>
<html lang="en">
	<head>
		<title>Halli Dev</title>
		<meta
			content="Welcome to my dev blog. Here you will find the latest posts and updates on my work."
			name="description"
		/>
		<meta content="HalliS20" name="author" />
		<meta
			content="blog, posts, updates, dev, life, work, tech"
			name="keywords"
		/>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<style>
			{{.cssContent}}
		</style>
	</head>
	<body>
		<div id="page">
			<div id="top-desc">
				<div id="page-top">
					<button
						id="title-button"
						onclick="window.location.href='/'"
					>
						<h1>Halli Dev</h1>
					</button>
				</div>
				<p id="main-description">
					Welcome to my blog I will be documenting my dev mistakes
					here, hope it will help you.
				</p>
			</div>
			<div id="posts">
				{{range .posts}}

				<button
					onclick="window.location.href='/posts/' + {{.ID}}"
					class="post-button"
				>
					<article class="post-article">
						<div class="post-top">
							<h2>{{.Title}}</h2>
							<p class="date">{{.Date}}</p>
						</div>
						<p>{{.Description}}</p>
					</article>
				</button>
				{{end}}
			</div>
		</div>
	</body>
</html>
