<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            content="blog, posts, updates, dev, life, work, tech"
            name="keywords"
        />
        <meta content="HalliS20" name="author" />
        <meta content="{{.description}}" name="description" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />

        <title>{{ .title }}</title>

        <link rel="canonical" href="{{ .canonicalURL }}" />
        <style>
            {{.cssContent}}
        </style>
    </head>
    <body>
        <div id="page-top">
            <button id="title-button" onclick="window.location.href='/'">
                <h1>Halli Dev</h1>
            </button>
        </div>

        <article id="blog-article">
            <div class="article-top">
                <h2>{{.post.Title}}</h2>
                <p class="date">{{.post.Date}}</p>
            </div>
            <p id="article-body">{{.body}}</p>
        </article>
    </body>
    <link rel="stylesheet" href="/public/styling/main.css" />
</html>
