<!doctype html>
<html lang="en">
	<head>
		<title>HS20 (blog)</title>
		<meta
			content="Welcome to my dev blog. Here you will find the latest posts and updates on my work."
			name="description"
		/>
		<meta content="HalliS20" name="author" />
		<meta
			content="blog, posts, updates, dev, life, work, tech"
			name="keywords"
		/>
		<meta charset="UTF-8" />
		<link href="{{ .faviconName }}" rel="icon" />
		<link href="{{ .canonicalURL }}" rel="canonical" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				const unlock = document.getElementById("unlock")

				unlock.addEventListener("click", function () {
					const poster = document.getElementById("poster")
					poster.style.display = "flex"
				})
			})
		</script>
		<link
			href="{{ .cssName }}"
			media="print"
			onload="this.media='all'"
			rel="stylesheet"
		/>
		<script defer src="{{ .jsName }}"></script>
	</head>
	<body>
		<div id="content">
			<div id="page">
				<div id="top-desc">
					<div id="page-top">
						<button data-href="/" id="title-button">
							<a href="/" style="display: none"></a>
							<h1>HS20</h1>
							<h2>blog</h2>
						</button>
						<button id="unlock">
							<img alt="lock" src="/public/static/lock.svg" />
						</button>
					</div>
					<div id="main-description">
						<p>
							Journal of a deluded dev, with an unhealthy
							obsession for <b>SEO</b> and <b>SPEED</b> (the
							concept).
						</p>
						<div class="line"></div>
					</div>
				</div>
				<div id="posts">
					{{range .posts}}

					<button class="post-button" data-href="/posts/{{.ID}}">
						<article class="post-article">
							<div class="post-top">
								<h3>{{.Title}}</h3>
								<p class="date">{{.Date}}</p>
							</div>
							<p>{{.Description}}</p>
						</article>
						<div class="line"></div>
					</button>
					{{end}}
				</div>
			</div>
			<form
				hx-post="/posts"
				hx-target="#posts"
				hx-trigger="submit"
				id="poster"
			>
				<label for="password">Password</label>
				<input id="password" name="password" type="text" />
				<label for="title">Title</label>
				<input id="title" name="title" type="text" />
				<label for="description">Description</label>
				<textarea id="description" name="description"></textarea>
				<label for="body">Body</label>
				<textarea id="body" name="body"></textarea>
				<button id="submit" type="submit">Post</button>
			</form>
		</div>
		<script src="/public/scripts/htmx.min"></script>
	</body>
</html>
